<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SigmaFold</title>
  <link rel="icon" type="image/x-icon" href="./asset?file=icon.png">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://3Dmol.org/build/3Dmol-min.js"></script>
  <link rel="stylesheet" href="./css?file=viewport.css">
</head>
<body>
  <a href="./" style="position: absolute; left: 2em; top: 2em; color: #f9fafb; background: none; padding: 0.5em 1.2em; border-radius: 6px; text-decoration: none; font-weight: bold; transition: background 0.2s;">&#8592; Back</a>
  <div class="input-flex-row">
    <form class="pdb-input-row" onsubmit="get_pdb(); return false;">
      <button type="button" onclick="delete_pdb()" style="margin-right:0.5em;">Delete PDB</button>
      <select id="pdb_name">
        <option value="" disabled selected>Select a PDB file</option>
      </select>
      <button type="submit">Show 3D</button>
    </form>
    <form class="second-input-row" onsubmit="get_pkl_graphs(); return false;">
      <button type="button" onclick="delete_pkl()" style="margin-right:0.5em;">Delete PKL</button>
      <select id="pkl_name">
        <option value="" disabled selected>Select a PKL file</option>
      </select>
      <button type="submit">Show Graphs</button>
    </form>
  </div>
  <div id="result"></div>
  <div class="mol-flex-row">
    <div id="container-01" class="mol-container"></div>
    <div class="right-stack">
      <div id="container-02" class="heatmap-container"></div>
      <div id="container-03" class="linechart-container"></div>
    </div>
  </div>
  <script src="./scripts?file=viewport.js"></script>
</body>
</html>